@import url("style.css");

.btnlink1 {
    line-height: 38px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: #e8491d;
    color: white;
    display: block;
}
/* BUTTON LINK A HREF HOVER EFFECT */
.btnlink1:hover {
    background: black;
    color: white;
    text-decoration: none;
}
